
  
  body {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  }
  
  .login-page {
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f3d2c4; */
  }
  .login-box {
    display: flex;
    justify-content: space-between;
   
    flex-direction: row;
    background-color: white;
    box-shadow: 0 0 40px rgba(0,0,0,0.16);
   
  }
  #login-form {
    width: 30lvw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #login-form p {
    margin-bottom: 30px;
  }
  #login-form p.form-title {
    color: #333333;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
  }
  #login-form .ant-form-item-label > label.ant-form-item-required::before {
    display: none;
  }
  .ant-form-item-control-input-content {
    text-align: left;
  }
  #login-form .ant-input-affix-wrapper {
    padding: 12px 15px;
  }
  #login-form_username {
    height: 48px;
  }
  #login-form .ant-btn {
    height: 42px;
    letter-spacing: 1px;
    border-radius: 6px;
  }
  .login-form-button {
    width: 100%;
  }
  .wrapper{
    position: relative;
  
  }
  .wrapper img {
    height: 100vh;
    width: 70vw;
    position: relative;
    z-index: 2,
  }
  .illustration-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 19;
    background-color: rgba(54, 43, 4, 0.4);
   
  }
  .img {
    background-image: url('https://images.unsplash.com/photo-1682687982093-4773cb0dbc2e?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=600');
    height: 100lvh;
    width: 70lvw;
    background-position: center;
    background-size: cover;
  }
  .link{
    cursor: pointer;
    text-align: center;
    color: blue;
    margin-top: 5px;
  }
  @media screen and (max-width: 1023px) {
    .login-box {
      flex-direction: column;
      box-shadow: none;
    }
    .illustration-wrapper {
      max-width: 100%;
      min-height: auto;
    }
    #login-form {
      max-width: 100%;
    }
  }
